language: android

android:
  components:
    - extra-google-m2repository
    - extra-android-m2repository
    - platform-tools
    - tools
    - build-tools-23.0.3
    - android-23

jdk:
  - oraclejdk8

script:
  ./gradlew build